*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F0F2F5;
}
/* .overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    pointer-events: all;
    background-color: red;
} */
/* Start Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    height: 56px;
    z-index: 997;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}
.logo svg{
    fill: #1876f2;
    width: 120px !important;
    height: 24px !important;
}
header .input{
    width: 40%;
    max-width: 500px;
    height: 40px;
    position: relative;
}
header .input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 0 0 32px;
    font-size: 0.95rem;
    font-weight: 300;
    color: #050505;
    background-color: #E4E6EB;
    border-radius: 30px;
}
header .input input::placeholder{
    color: #65676B;
}
header .input:hover input{
    background-color: rgba(0,0,0,0.1);
}
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance:none;
}
header .input .search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
header .input .search svg{
    width: 15px !important;
    height: 15px !important;
    fill: #65676B;
    cursor: text;
}
header .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-avatar{
    margin: 0 4px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
header .header-avatar::after,
header .header-notification::after,
header .header-messenger::after{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 10px;
    background-color: rgb(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    font-weight: 300;
}
header .header-avatar::after{
    content: 'Account';
}
header .header-notification::after{
    content: 'Nafications';
}
header .header-messenger::after{
    content: 'Messenger';
}
header .header-avatar:hover::after,
header .header-notification:hover::after,
header .header-messenger:hover::after{
    opacity: 1;
    visibility: visible;
}
header .header-avatar .image{
    position: relative;
    width: 40px;
    height: 40px;
}
header .header-avatar .image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.3s;
    overflow: hidden;
}
header .header-avatar:hover .image::before{
    background-color: rgba(0,0,0,.05);
}
header .header-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
header .header-avatar .under-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #E4E6EB;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
header .header-avatar .under-icon svg{
    width: 13px !important;
    height: 13px !important;
}
header .header-notification,
header .header-messenger{
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E4E6EB;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
header .header-notification svg,
header .header-messenger svg{
    width: 20px;
    height: 20px;
}
header .header-notification .number,
header .header-messenger .number{
    position: absolute;
    top: -6px;
    right: -5px;
    background-color: #e41e3f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 19px;
    height: 19px;
    padding: 1px;
    border-radius: 10px;
    font-size: 13px;
}
header .header-notification:hover,
header .header-messenger:hover{
    background-color: rgba(0,0,0,.2);
}
@media (max-width: 900px) {
    header .input input{
        opacity: 0;
        visibility: hidden;
    }
    header .input .search{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #E4E6EB;
        cursor: pointer;
        transition: 0.3s;
    }
    header .input .search:hover{
        background-color: rgba(0,0,0,.2);
    }
}
/* End Header */


/* Start Account Selected Bar */

.user-account{
    position: fixed;
    top: 54px;
    right: 25px;
    z-index: 999;
    background-color: #fff;
    padding: 10px 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 360px;
    height: 450px;
    display: none;
}
.user-account.active{
    display: block;
}
.user-profile{
    padding: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 0 8px 16px;
}
.account-avatar{
    padding: 10px 8px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.user-profile .seperat{
    display: block;
    height: 1px;
    width: calc(100% - 20px);
    margin: 0 10px;
    background-color: rgb(0, 0, 0, 0.2);
}
.account-avatar:hover,
.see-profile:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
.account-avatar img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.account-name{
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 8px;
}
.see-profile{
    padding: 10px 8px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.see-profile-link{
    text-decoration: none;
    color: #1876f2;
    font-size: 0.95rem;
    font-weight: 600;
}
.profile-setting-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    cursor: pointer;
    border-radius: 8px;
    padding: 0 8px;
}
.profile-setting-line:hover{
    background-color: rgb(0, 0, 0, 0.05);
}
.setting-logo{
    display: flex;
    align-items: center;
}
.setting-logo-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E4E6EB;
}
.setting-name{
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 10px;
}
.see-setting i{
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
}
.account-description{
    padding: 0 8px
}
.account-description span{
    font-size: 0.78rem;
    color: #65676B;
    cursor: context-menu;
}
/* End Account Selected Bar */

/* Start Notifications Bar */

/* width */
.notification::-webkit-scrollbar,
nav.left-side::-webkit-scrollbar,
aside.right-side::-webkit-scrollbar {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    width: 9px;
}
.notification:hover::-webkit-scrollbar,
nav.left-side:hover::-webkit-scrollbar,
aside.right-side:hover::-webkit-scrollbar {
    visibility: visible;
    opacity: 1;
}
/* Track */
.notification::-webkit-scrollbar-track,
nav.left-side::-webkit-scrollbar-track,
aside.right-side::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; 
}
.notification:hover::-webkit-scrollbar-track,
nav.left-side:hover::-webkit-scrollbar-track,
aside.right-side:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgb(0, 0, 0, 0.05);
    background: rgb(0, 0, 0, 0.05); 
}
/* Handle */
.notification:hover::-webkit-scrollbar-thumb,
nav.left-side:hover::-webkit-scrollbar-thumb,
aside.right-side:hover::-webkit-scrollbar-thumb{
    background: #CED0D4; 
    border-radius: 10px;
    box-shadow: inset 0 0 0 rgb(0, 0, 0, 0.05);
}
.notification{
    position: fixed;
    top: 54px;
    right: 25px;
    z-index: 999;
    background-color: #fff;
    padding: 10px 0px 10px 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 360px;
    height: calc(100vh - 60px);
    overflow: auto;
    display: none;
}
.notification.active{
    display: block;
}
.notification-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 8px;
}
.notification-title{
    font-size: 1.5rem;
    font-weight: 700;
    cursor: context-menu;
}
.notification-more-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.notification-more-info:hover{
    background-color: #E4E6EB;
}
.notification-more-info svg{
    fill: #525353;
    width: 20px !important;
    height: 20px !important;
}
.notification-filter{
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 8px;
}
.notification-filter span{
    font-size: 0.95rem;
    font-weight: 600;
    padding: 9px 12px;
    height: 36px;
    border-radius: 30px;
    cursor: pointer;
}
.notification-filter span:hover{
    background-color: rgb(0, 0, 0, 0.05);
}
.notification-filter .active{
    background-color: #E7F3FF;
    color: #1876f2;
    margin-right: 8px;
}
.notification-start{
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification-start span:first-child{
    font-weight: 600;
    cursor: context-menu;
}
.notification-start span:last-child{
    font-weight: 500;
    font-size: 0.9rem;
    color: #1876f2;
    cursor: pointer;
    padding: 10px 8px;
    border-radius: 3px;
}
.notification-start span:last-child:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
.notificat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
.notificat-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    transition: 0.3s linear;
}
.notificat-info:hover{
    background-color: #E4E6EB;
}
.notificat:hover .notificat-info{
    display: flex;
}
.notificat-info svg{
    fill: #65676B;
    width: 20px;
    height: 20px;
}
.notificat:hover{
    background-color: rgb(0, 0, 0, 0.05);
}
.notification-avatar{
    width: 56px;
    min-width: 56px;
    height: 56px;
    position: relative;
    margin-right: 15px;
}
.notification-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.notification-avatar i,
.notification-avatar img:last-child{
    position: absolute;
    bottom: -5px;
    right: -5px
}
.notification-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.notification-content{
    font-size: 0.95rem;
}
.notification-time{
    font-size: 0.8rem;
    font-weight: 600;
    color: #1876f2;
}
.unread-icon{
    width: 12px;
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1876f2;
}
/* End Notifications Bar */

/* Start Chats Bar */
.chats{
    position: fixed;
    top: 54px;
    right: 25px;
    z-index: 999;
    background-color: #fff;
    padding: 10px 0px 10px 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 360px;
    height: calc(100vh - 60px);
    overflow: auto;
    overflow-x: hidden;
    display: none;
}
.chats.active{
    display: block;
}
.chats-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 8px;
}
.chats-title{
    font-size: 1.5rem;
    font-weight: 700;
    cursor: context-menu;
}
.chats-icons{
    display: flex;
    gap: 10px
}
.chats-icons .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.chats-icons .icon:hover{
    background-color: #E4E6EB;
}
.chats-icons .icon svg{
    fill: #525353;
    width: 20px !important;
    height: 20px !important;
}
.chats-icons .icon i{
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
}
.search-chats{
    width: calc(100% - 20px);
    height: 36px;
    position: relative;
    margin: 10px 16px 10px 8px;
}
.search-chats input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 0 0 32px;
    font-size: 0.95rem;
    font-weight: 300;
    color: #050505;
    background-color: #F0F2F5;
    border-radius: 30px;
    cursor: text;
}
.search-chats input::placeholder{
    color: #65676B;
}
.search-chats:hover input{
    background-color: rgba(0,0,0,0.1);
}
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance:none;
}
.search-chats .search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-chats svg{
    width: 15px !important;
    height: 15px !important;
    fill: #65676B;
    cursor: context-menu;
}
.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    padding: 5px 8px;
    border-radius: 8px;
}
.chat:hover{
    background-color: rgb(0, 0, 0, 0.05);
}
.chat-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    transition: 0.3s linear;
}
.chat-info:hover{
    background-color: #E4E6EB;
}
.chat:hover .chat-info{
    display: flex;
}
.chat-info svg{
    fill: #65676B;
    width: 20px;
    height: 20px;
}
.messeger-messege-info{
    display: flex;
    align-items: center;
}
.chat-avatar img{
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}
.chat-data{
    margin-left: 15px;
}
.chater-name{
    font-size: 0.97rem;
}
.messege-content{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.85rem;
    color: #65676B;
    margin-top: 5px;
}
.chat-addition span{
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1876f2;
}
.chat-addition svg{
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    fill: #BCC0C4
}
.chat-addition img{
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
}
/* End Chats Bar */

/* Start Nav Left Side */
nav.left-side{
    position: fixed;
    left: 0;
    top: 56px;
    width: 20%;
    min-width: 300px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding: 10px 0 0 10px
}
nav.left-side .facebook-list{
    margin: 20px auto;
}
nav.left-side .user-page .home{
    position: relative;
}
nav.left-side .user-page .home::before{
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #1876f2;
    border-radius: 3px;
    transition: 0.3s;
    display: block !important;
}
nav.left-side .user-page .home i{
    font-size: 25px !important;
    width: 25px !important;
    -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
    filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
}
nav.left-side .line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 15px 6px 15px;
    margin: 5px auto;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    height: 40px;
}
nav.left-side .line:hover{
    background-color: rgba(0,0,0,.03);
}
nav.left-side .line span:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #E4E6EB;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
nav.left-side .line.user img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}
nav.left-side .line span.title{
    margin-left: 10px;
    font-size: 0.965rem;
    color: #000;
    font-weight: 500;
}
nav.left-side .facebook-list .line img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    object-fit: cover;
}
nav.left-side .description{
    padding: 5px
}
nav.left-side .description span{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #65676B;
    line-height: 18px;
}

@media (max-width: 1185px) {
    nav.left-side{
        background-color: #fff;
        width: 60px;
        min-width: 60px;
        border-right: 1px solid rgba(0,0,0,0.1);
        padding-right: 5px; 
        padding-left: 7px 
    }
    nav.left-side .user-page .home::before{
        left: -8px
    }
    nav.left-side .line{
        justify-content: center;
        padding: 6px 5px 6px 5px;
    }
    nav.left-side .line span:first-child{
        width: 32px;
        height: 32px;
    }
    nav.left-side .line span.title{
        display: none;
    }
    nav.left-side .description{
        display: none;
    }
}
/* End Nav Left Side */


/* Strat Aside Right Side */
aside.right-side{
    position: fixed;
    right: 0;
    top: 56px;
    width: 23%;
    min-width: 300px;
    height: calc(100vh - 56px);
    overflow: auto;
    padding: 5px 15px 5px 15px
}
aside.right-side .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto
}
aside.right-side .head h3{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}
aside.right-side .head span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
aside.right-side .head span:hover{
    background-color: #E4E6EB;
}
aside.right-side .head svg{
    fill: #65676B
}
aside.right-side .friends .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}
aside.right-side .friends .title h3{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}
aside.right-side .friends .title span{
    color: #1876f2;
    font-size: 0.85rem;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 10px;
}
aside.right-side .friends .title span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    border-radius: 5px;
}
aside.right-side .friends .title span:hover::before{
    background-color: rgba(0, 0, 0, 0.1);
}
aside.right-side .friends .content{
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
}
aside.right-side .birthdays .content:hover,
aside.right-side .friends .content:hover{
    background-color: rgba(0,0,0,0.03);
}
aside.right-side .friends .image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
aside.right-side .friends .info{
    width: calc(100% - 60px);
    margin-left: 15px;
}
aside.right-side .friends .info .name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
aside.right-side .friends .name h4{
    font-size: 0.85;
    font-weight: 600;
}
aside.right-side .friends .name span{
    font-size: 0.75rem;
    font-weight: 300;
    color: #65676B
}
aside.right-side .friends .mutual-friends{
    display: flex;
    align-items: center;
}
aside.right-side .friends .mutual-friends img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
}
aside.right-side .friends .mutual-friends img:nth-child(2){
    margin-left: -8px;
}
aside.right-side .friends .mutual-friends span{
    font-size: 0.75rem;
    font-weight: 300;
    color: #65676B;
    margin-left: 5px;
}
aside.right-side .friends .buttons{
    display: flex;
    gap: 10px;
    margin: 15px auto
}
aside.right-side .friends .buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    flex-grow: 1;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
}
aside.right-side .friends .buttons a.confirm{
    background-color: #1876f2;
    color: #fff
}
aside.right-side .friends .buttons a.delete{
    background-color: #E4E6EB;
    color: #000;
    transition: 0.3s;
}
aside.right-side .friends .buttons a.delete:hover{
    background-color: rgba(0,0,0,.0.2);
}
aside.right-side .birthdays h3{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    margin: 15px auto;
}
aside.right-side .birthdays .content{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
}
aside.right-side .birthdays .content i{
    padding-right: 30px;
}
aside.right-side .birthdays .content p{
    font-size: 0.85rem;
    font-weight: 400;
    flex-grow: 1;
    margin-left: 15px;
    line-height: 22px;
}
aside.right-side .birthdays .content p span{
    font-weight: 600;
}
aside.right-side .contacts .icons{
    display: flex;
    gap: 10px
}
aside.right-side .contacts .icons svg{
    fill: #65676B
}
aside.right-side .contacts .line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px 5px ;
    margin: 5px auto;
    border-radius: 7px;
    cursor: pointer;
}
aside.right-side .contacts .line:hover{
    background-color: rgba(0,0,0,.05);
}
aside .contacts .image{
    position: relative;
}
aside.right-side .contacts img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}
aside .contacts .active-circle{
    position: absolute;
    bottom: 3px;
    right: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    outline: 2px solid #fff;
    background-color: #31A24C;
}
aside.right-side h3{
    font-size: 1rem;
    color: #000;
    font-weight: 400;
    margin-left: 15px;
}
aside.right-side .contacts .groups > h3{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    margin: 15px auto;
}
aside.right-side .create-group span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    background-color: #E4E6EB;
}
aside.right-side .contacts .create-group h3{
    font-size: 1rem;
    font-weight: 400;
}
@media (max-width: 900px) {
    aside.right-side{
        display: none;
    }
}
/* End Aside Right Side */


/* Start Stories Section */
.body-elements{
    width: 50%;
    max-width: 550px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    height: 180px;
}
.story{
    height: 100%;
    width: calc(100% / 4);
    min-width: 100px;
    position: relative; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}
.story::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.1s linear;
}
.story:hover::after{
    background-color: rgba(0, 0, 0, 0.1);
}
.story:hover .img-story img{
    transform: scale(1.03);
}
.img-story.avatar{
    height: 70%
}
.create-btn{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1876f2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-btn svg{
    filter: invert(1);
    width: 20px;
    height: 20px;
}
.create-title{
    width: 100%;
    height: 30%;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;
}
.create-title span{
    font-weight: 500;
    font-size: 0.8rem;
}
.img-story{
    width: 100%;
    height: 100%;
}
.img-story img{
    width: 100%;
    height: 100%;
    transition: 0.1s linear;
    object-fit: cover;
}
.person-story{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 4px solid #1876f2;
    overflow: hidden;
}
.person-story img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.name-story{
    position: absolute;
    bottom: 5px;
    left: 5px
}
.name-story span{
    font-weight: 600;
    font-size: 0.85rem;
    color: #fff;
}
.see-more-stories{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 5;
    cursor: pointer;
}
.see-more-stories svg{
    width: 20px;
    height: 20px;
    fill: #65676B
}
.see-more-stories::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.see-more-stories:hover::before{
    background-color: rgb(0, 0, 0, 0.05);
}
.see-more-stories::after{
    content: 'See all stories';
    width: 76px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 12px;
    background-color: rgb(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    font-weight: 300;
}
.see-more-stories:hover::after{
    opacity: 1;
    visibility: visible;
}
@media (max-width: 1185px) {
    .body-elements{
        left: 120px;
        transform: translateX(0);
        min-width: 600px;
    }
    .stories{
        height: 200px;
    }
}
@media (max-width: 1024px) {
    .body-elements{
        width: 40%;
        left: 105px;
        transform: translateX(0);
        min-width: 500px;
    }
    .stories{
        min-width: 500px;
        height: 180px;
    }
    .story{
        min-width: 90px;
    }
}
@media (max-width: 900px) {
    .body-elements{
        width: 90%;
        left: 160px;
        transform: translateX(0);
    }
}
/* End Stories Section */

/* Start Create Post Section */
.body-elements .container{
    width: 90%
}
.create-post{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
}
.create-post-head{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.create-post-avatar{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.create-post-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.create-post-avatar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transition: 0.3s;
}
.create-post-avatar:hover::before{
    background-color: rgba(0, 0, 0, 0.07);
}
.create-post-input{
    display: flex;
    flex-grow: 1;
}
.create-post-input input{
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #E4E6EB;
    margin-left: 10px;
    padding: 15px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    pointer-events: all;
}
.create-post-input input::placeholder{
    font-size: 1.05rem;
    line-height: 1.05rem;
    color: #65676B;
    font-weight: 300;
}
.create-post-input:hover input{
    background-color: rgba(0, 0, 0, 0.15);
}
.create-post-features{
    padding-top: 5px;
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
}
.create-post-features .feature{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    width: calc(100% / 3);
}
.feature:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.feature svg{
    width: 24px !important;
    height: 24px !important;
    margin-right: 10px;
}
.feature span{
    font-size: 0.9rem;
    color: #65676B;
    font-weight: 600;
}
.create-post-live svg{
    fill: #F3425F
}
.create-post-photo svg{
    fill: #45BD62
}
.create-post-feeling svg{
    fill: #F7B928
}
/* End Create Post Section */

/* Start Create Room Section */
.create-room{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 3px 10px 15px;
    border-radius: 8px;
    margin: 15px auto;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}
.create-room-btn{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 0 10px #E7F3FF;
    width: 150px;
    min-width: 150px;
}
.create-room-btn:hover{
    background-color: #E4E6EB;
    box-shadow: inset 0 0 10px #E7F3FF;
}
.create-room-btn span{
    color: #216FDB;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 7px;
}
.room-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
}
.room-contact .image{
    position: relative;
}
.room-contact img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.room-contact span{
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    outline: 2px solid #fff;
    background-color: #31A24C;
}
.see-more-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 5;
    cursor: pointer;
}
.see-more-contacts::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.see-more-contacts:hover::before{
    background-color: rgb(0, 0, 0, 0.05);
}
.see-more-contacts svg{
    width: 24px;
    height: 24px;
    fill: #65676B
}
/* End Create Room Section */

/* Start Posts Section */
.post{
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}
.post-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.publish-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.publisher-img{
    position: relative;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.publisher-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.publisher-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transition: 0.3s;
    overflow: hidden;
}
.publisher-img::before{
    background-color: rgba(0,0,0,.05);
}
.publisher-name{
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    color: #000;
}
.publisher-name:hover{
    text-decoration: underline;
}
.publish-data{
    display: flex;
    align-items: center;
}
.publish-date{
    font-size: 0.8rem;
    font-weight: 300;
    color:#65676B;
    margin-right: 5px;
}
.more-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.more-icon:hover{
    background-color: #E4E6EB;
}
.more-icon svg{
    fill: #65676B
}
.publish-viewers svg{
    fill: #65676B;
    width: 12px !important;
    height: 12px !important;
}
.post-title{
    width: 100%;
    text-align: end;
    padding: 0 15px 10px 15px;
}
.post-title span{
    line-height: 22px;
}
.post-content-img{
    width: 100%;
    max-height: 700px;
    overflow: hidden;
}
.post-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-reacting-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding: 7px 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.post-reacting-count .likes{
    display: flex;
    align-items: center;
}
span.post-feeling img{
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    width: 21px !important;
    height: 21px !important;
    object-fit: cover;
}
.post-feeling.heart{
    position: relative;
    margin-left: -7px;
    z-index: 1;
}
.reactent-names{
    font-size: 0.95rem;
    color: #65676B;
    margin-left: 10px;
    text-decoration: none;
}
.post-comments{
    font-size: 0.95rem;
    color: #65676B;
    margin-left: 10px;
    text-decoration: none;
}
.reactent-names:hover,
.post-comments:hover{
    text-decoration: underline;
}
.post-reacting{
    margin: 0 15px;
    padding: 5px 0;
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}
.post-reacting .reacte{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: calc(100% / 3);
}
.reacte:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.reacte i{
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    margin-right: 10px;
}
.reacte{
    font-size: 0.95rem;
    color: #65676B;
    font-weight: 600;
}

.write-comment{
    display: flex;
    align-items: center;
    padding: 10px 15px 15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.write-comment-avatar{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.write-comment-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.write-comment-avatar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transition: 0.3s;
}
.write-comment-avatar:hover::before{
    background-color: rgba(0, 0, 0, 0.07);
}
.write-comment-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E6EB;
    flex-grow: 1;
    border-radius: 50px;
    overflow: hidden;
    margin-left: 5px;
    height: 32px;
    padding: 8px 15px 8px 0;
    cursor: text;
}
.write-comment-input input{
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #E4E6EB;
    margin-left: 10px;
    padding: 5px;
    cursor: text;
    pointer-events: all;
}
.write-comment-input input::placeholder{
    font-size: 1.05rem;
    line-height: 1.05rem;
    color: #65676B;
    font-weight: 300;
}
.comment-icons{
    display: flex;
    align-items: center;
}
.comment-icons span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.comment-icons span:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
.comment-icons i{
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
}
.post-comment{
    padding: 10px 15px 5px;
    display: flex;
    align-items: flex-start;
}
.commenter-avatar{
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.commenter-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commenter-avatar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transition: 0.3s;
}
.commenter-avatar:hover::before{
    background-color: rgba(0, 0, 0, 0.07);
}
.comment-data{
    background-color: #E4E6EB;
    border-radius: 15px;
    padding: 5px 10px 10px;
    margin-left: 5px;
    width: 100%;
    max-width: 300px;
}
.commenter-name span{
    display: inline-block;
    font-size: 0.80rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}
.the-comment{
    font-size: 1rem;
    color: #000;
}
.comment-features{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
}
.comment-features a{
    text-decoration: none;
    color: #65676B;
    font-size: 0.75rem;
    font-weight: 600;
}
.comment-features a.time{
    font-weight: 400;
}
.comment-features a:hover{
    text-decoration: underline;
}
.more-comments{
    padding: 0px 15px 15px;
}
.more-comments-link{
    text-decoration: none;
    color: #65676B;
    font-size: 1rem;
    font-weight: 600;
}
.more-comments-link:hover{
    text-decoration: underline;
}
/* End Posts Section */